@import 'colors.module';

div.background-overlay {
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

body {
  background-color: $body-background-default;
  color: $font-default;
}

body a {
  color: $pie-chart-primary-default;
}

hr {
  border: none;
}

.header {
  display: flex;
  padding: 0.5rem;
  border-bottom: 2px solid $font-default;
  background-color: $header-background-default;
  font-size: 2.25rem;
  color: $font-default;
}

.header__contents {
  position: relative;
  left: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header__title {
  margin: 0 auto;
  font-weight: bolder;
}

.header__logo {
  margin: 0 auto;
  border: 1px solid $header-background-default;
  border-radius: 5px;
  width: 4rem;
  height: 4rem;
}

.rendering-msg {
  margin: 1rem;
  text-align: center;
}

.main-chart {
  margin: 0 auto;
  width: 24rem;
  height: 24rem;
}

hr.main-divider {
  border-top: 1px dashed $pie-chart-secondary-default;
  width: 75%;
}

.minor-charts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.minor-charts__chart {
  width: 9rem;
  height: 9rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.lang-select {
  padding: 7rem 0 0 0;
  text-align: center;
}

.lang-select button {
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid $pie-chart-secondary-default;
  border-radius: 2rem;
  background-color: $header-background-default;
  font-weight: bold;
  color: $font-default;
}

.lang-select button:hover {
  border-color: $pie-chart-primary-default;
  cursor: pointer;
}

.lang-select hr {
  width: 15%;
  border-top: 1px dashed $pie-chart-secondary-default;
}

.login-link {
  float: none;
  margin: 1rem auto;
}

.login-link button {
  border: none;
  background: none;
  color: $pie-chart-primary-default;
  text-decoration: underline;
}

.login-link button:hover {
  cursor: pointer;
}

/* ==========================================================================
   Dark Mode
   ========================================================================== */

body.dark-mode {
  background-color: $body-background-dark-mode;
  color: $font-dark-mode;
}

body.dark-mode a {
  color: $pie-chart-secondary-default;
}

.header--dark-mode {
  border-bottom-color: $font-dark-mode;
  background-color: $header-background-dark-mode;
  color: $font-dark-mode;
}

.header__logo--dark-mode {
  border: 1px solid $body-background-dark-mode;
}

hr.main-divider--dark-mode {
  border-top: dashed 1px $pie-chart-secondary-dark-mode;
}

.lang-select--dark-mode button {
  border: 1px solid $pie-chart-secondary-dark-mode;
  background-color: $header-background-dark-mode;
  color: $font-dark-mode;
}

.lang-select button:hover {
  border-color: $pie-chart-primary-dark-mode;
}

.lang-select--dark-mode hr {
  border-top: 1px solid $pie-chart-secondary-dark-mode;
}