@import 'colors.module';

body {
  background-color: $body-background-default;
  color: $font-default;
}

.header {
  display: flex;
  padding: 0.5rem;
  border-bottom: 2px solid;
  font-size: 2.25rem;
  background-color: $header-background-default;
  border-bottom-color: $font-default;
  color: $font-default;
}

.header__contents {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  left: 1rem;
}

.header__title {
  margin: 0 auto;
  font-weight: bolder;
}

.header__logo {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  border-radius: 5px;
  border: solid 1px $header-background-default;
}

.rendering-msg {
  text-align: center;
  margin: 1rem;
}

.main-chart {
  margin: 0 auto;
  width: 24rem;
  height: 24rem;
}

hr {
  width: 95%;
  border-top: 1px dashed $font-default;
}

.minor-charts {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.minor-charts__chart {
  width: 9rem;
  height: 9rem;
}

/* ==========================================================================
   Dark Mode
   ========================================================================== */

body.dark-mode {
  background-color: $body-background-dark-mode;
  color: $font-dark-mode;
}

.header--dark-mode {
  background-color: $header-background-dark-mode;
  border-bottom-color: $font-dark-mode;
  color: $font-dark-mode;
}

.header__logo--dark-mode {
  border: solid 1px $body-background-dark-mode;
}

.main-divider--dark-mode {
  border-top: 1px dashed $font-dark-mode;
}