@import 'colors.module';

address {
  font-style: normal;
  margin: 2rem auto 0 auto;
  width: 13rem;
}

.rendering-msg {
  margin: 1rem;
  text-align: center;
}

.main-chart {
  margin: 0 auto;
  width: 24rem;
  height: 24rem;
}

hr.main-divider {
  border-top: 1px dashed $pie-chart-secondary-default;
  width: 75%;
}

.minor-charts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.minor-charts__chart {
  width: 9rem;
  height: 9rem;
}
