/* Default Theme */
$body-background-default: #f8f8ff;
$font-default: #233e94;
$header-background-default: #add8e6;
$pie-chart-primary-default: #336699;
$pie-chart-secondary-default: #87ceeb;

/* Dark Theme */
$body-background-dark-mode: #222222;
$font-dark-mode: #829ab1;
$header-background-dark-mode: #383838;
$pie-chart-primary-dark-mode: #334e68;
$pie-chart-secondary-dark-mode: #102a43;


:export {
  fontDarkMode: $font-dark-mode;
  fontDefault: $font-default;
  pieChartPrimaryDarkMode: $pie-chart-primary-dark-mode;
  pieChartPrimaryDefault: $pie-chart-primary-default;
  pieChartSecondaryDarkMode: $pie-chart-secondary-dark-mode;
  pieChartSecondaryDefault: $pie-chart-secondary-default;
}