footer {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  float: none;
  margin: 1rem auto;
}

.nav-bar li {
  display: inline;
  margin-right: 0.5rem;
  font-size: 1.25rem;
}

.nav-bar button {
  border: none;
  background: none;
  text-decoration: underline;
}

.nav-bar button:hover {
  cursor: pointer;
}

.lang-select hr {
  width: 15%;
  border-width: 1px;
  border-style: dashed;
}

.lang-select {
  text-align: center;
}

.lang-select button {
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 2rem;
  font-weight: bold;
}

.lang-select button:hover {
  cursor: pointer;
}