@import 'colors.module';

footer {
  display: flex;
  flex-direction: column;
}

.nav-bar {
  float: none;
  margin: 1rem auto;
}

.nav-bar button {
  border: none;
  background: none;
  color: $pie-chart-primary-default;
  text-decoration: underline;
}

.nav-bar button:hover {
  cursor: pointer;
}

.lang-select hr {
  width: 15%;
  border-top: 1px dashed $pie-chart-secondary-default;
}

.lang-select {
  text-align: center;
}

.lang-select button {
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid $pie-chart-secondary-default;
  border-radius: 2rem;
  background-color: $header-background-default;
  font-weight: bold;
  color: $font-default;
}

.lang-select button:hover {
  border-color: $pie-chart-primary-default;
  cursor: pointer;
}

/* ==========================================================================
   Dark Mode
   ========================================================================== */

.lang-select--dark-mode hr {
  border-top: 1px solid $pie-chart-secondary-dark-mode;
}

.lang-select--dark-mode button {
  border: 1px solid $pie-chart-secondary-dark-mode;
  background-color: $header-background-dark-mode;
  color: $font-dark-mode;
}

.lang-select--dark-mode button:hover {
  border-color: $pie-chart-primary-dark-mode;
}