@import 'themes.module';

#garages-index {
  text-align: center;

  .minor-charts {
    justify-content: center;
    margin: 1rem;

    canvas {
      margin: 1rem;
    }

    canvas:hover {
      cursor: pointer;
      border: dashed 1px $font-default;
    }
  }
}