.header {
  display: flex;
  padding: 0.5rem;
  border-width: 2px;
  border-style: solid;
  font-size: 2.25rem;
}

.header__contents {
  position: relative;
  left: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header__title {
  margin: 0 auto;
  font-weight: bolder;
}

.header__logo {
  margin: 0 auto;
  border-radius: 5px;
}

.header__logo svg {
  width: 4rem;
  height: 4rem;
}