body {
  background-color: #f8f8ff;
}

hr {
  width: 95%;
  border-top: 1px dashed #233e94;
}

.header {
  background-color: lightblue;
  border-bottom: 2px solid #233e94;
  font-size: 1.5rem;
  color: #233e94;
  display: flex;
  flex-direction: column;
  font-family: serif;
  padding: 0.25rem;
}

.header__logo {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 auto;
}

.header__title {
  margin: 0 auto;
}

.minor-pie-charts {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}