.App-logo {
  width: 3rem;
  height: 3rem;
  margin: 1rem 0 0.25rem 0;
  pointer-events: none;
}

.header {
  background-color: #f4f6fa;
  min-height: 1rem;
  display: flex;
  flex-direction: row;
  font-size: 1.75rem;
  color: gray;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
